:root {
    --text-color: #fff;
    --back-color: #333;
    --math-color: rgba(67, 72, 241, 0.717);
}

a {
    color: unset;
}

@font-face {
    font-family: "LM Roman 10";
    src: url(../fonts/lmroman10-regular.otf);
}
@font-face {
    font-family: "LM Roman 10";
    src: url(../fonts/lmroman10-bold.otf);
    font-weight: bold;
}

html, body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "LM Roman 10";
    line-height: 1.6;
    padding-top: calc(38px + 2vh);
    /* Adjust according to header height */
    flex: 1;
}

header {
    background-color: var(--back-color);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* Ensure header stays above other content */
}

nav {
    display: flex;
    justify-content: space-around;
    position: sticky;
}

.menu-item {
    font-family: 'Arial';
    font-weight: bold;
    display: flex;
    width: 18vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(11px, 2.5vmin, 16px);
    padding: 2vh 1vmin;
    /* Add padding to each menu item */
    text-decoration: none;
    /* Remove underline from links */
    color: var(--text-color);
    /* Text color */
    margin: 0;
}

.menu-item:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    min-height: calc(100vh - 350px);
    width: 100vw;
    margin-top: 2vh;
    padding-bottom: 2vh;
    background-image: url("../img/back.png");
    background-size: 100% auto;
    background-repeat: repeat-y;
}

#articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.article-box {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
}

.article {
    width: min(1200px, 85vw);
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 8px;
    margin-bottom: 2vh;
    font-size: clamp(16px, 4vmin, 18px)
}

/* Fizyka */
.cat-0 {
    background: linear-gradient(135deg, rgba(67, 72, 241, 1) 0%, rgba(67, 73, 241, 1) 25px, rgba(255, 255, 255, 0.75) 27px);
}

/* Informatyka */
.cat-1 {
    background: linear-gradient(135deg, rgba(67, 151, 241, 1) 0%, rgba(67, 151, 241, 1) 25px, rgba(255, 255, 255, 0.75) 27px);
}

/* Matematyka */
.cat-2 {
    background: linear-gradient(135deg, rgba(241, 67, 67, 1) 0%, rgba(241, 67, 67, 1) 25px, rgba(255, 255, 255, 0.75) 27px);
}

/* Filozofia Nauki */
.cat-3 {
    background: linear-gradient(135deg, rgba(152, 152, 152, 1) 0%, rgba(152, 152, 152, 1) 25px, rgba(255, 255, 255, 0.75) 27px);
}

th, td {
    padding: 10px;
}

.date {
    text-align: center;
}

.article-link {
    color: black;
    text-decoration: none;
}

#contact-info {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#contact-box {
    width: 80vmin;
    height: 50vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3vmin;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px);
    box-shadow: 0px 15px 27px 1px rgba(66, 68, 90, 1);
    margin: 2vmin;
    font-size: max(25px, 3vmin);
    line-height: 15vmin;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box {
    flex: 1 1 400px;
    /* Preferred width */
    min-width: 200px;
    max-width: 500px;
    box-sizing: border-box;
    /* Ensure padding and border are included in the width */
    padding: 2vh;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.info-box {
    width: auto;
    /* Ensure padding and border are included in the width */
    padding: 2vh;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius: 3vmin;
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 70%, rgba(176, 176, 176, 0.137) 100%);
    backdrop-filter: blur(4px);
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.22);
    font-size: 16px;
    line-height: 20px;
}

footer {
    background-color: var(--back-color);
    color: var(--text-color);
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    width: 100%;
}
